<div class="container">

  <div [hidden]="submitted">

    <h1>New Event</h1>

    
      <div class="row">
        <div class="col-md-8 well">
          <form class="form-horizontal">

            <div class="form-group">
              <label class="col-xs-2 control-label">Location: </label>
              <div class="col-xs-10">
                <input type="text" class="form-control" name="location" [(ngModel)]="event.location"/>
                <span class="help-block">For Example: Jabotinsky pub, shimon ben shetach, Jerusalem</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Time: </label>
                <div class="col-xs-10">
                  <input type="time" class="form-control" name="time" [(ngModel)]="event.time"/>
              </div>
            </div>

            <div class="text-left">
              <input type="button" class="btn btn-danger" value="Add Event" (click)="addEvent()" />
            </div>

          </form>
        </div>
      </div>

      <div class="list-group" *ngFor="let event of events | async">

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{event.location}}</h4>
          <p class="list-group-item-text">
          {{event.time}}
          </p>
        </a>

      </div>


  </div>

</div>
