h1{
    text-align: center;
}
input[type="file"] {
    display: none;    
}

.custom-file-upload {
    text-align: center;
    padding: 7px ;
    cursor: pointer;
    background-color: #6897BB;
    color: white;
    border-radius: 5px;
}