<div *ngIf = "afService.choosen_lan == 'HE' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div *ngIf = "afService.choosen_lan == 'EN' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div class = "container">
    <div class = "row">
      <div class = "col-xs-12">
          <a [routerLink] = "['/item-form']"><button class = "btn btn-success addcmd">{{ AddItem }}</button></a>
      </div>
    </div>


  <div class = "list-group" *ngFor = "let item of items | async ; let i = index" (click)="onclick($event, i)">
    <a class="list-group-item clearfix" [class.list-group-item-success] = "i == selectedRow">
      <h4 class="list-group-item-heading">{{item.description}}</h4>
      <h4 class="list-group-item-text">{{Publisher}}:  {{item.author}}</h4>
        {{ Type }}: {{item.type}} 
      <br>
        {{Location}}:  {{item.location}}
      <br>
        {{Contact_info}}: {{item.phone}}
      <br>
        {{Email}}: {{item.email}} 
      <br>
        {{PublisherHelp}}: {{item.delivery}}
      <div *ngIf="item.photoURL">
        <img [src]= "item.photoURL" class="img-thumbnail" width="150" height="150">
      </div>
      
      <div class="list-group" *ngFor="let user of users | async">    
          <div *ngIf = "(user.status == 0 || user.status == 2) && item.author == user.name && afService.displayName == user.name">
            <div class="col-xs-1">
              <p class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(item.$key)"></p>
            </div>
          </div>
            
          <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())">
            <div class="col-xs-1">
              <p class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(item.$key)"></p>
            </div>
          </div>
      </div>
    </a>
  </div>
</div>