<div class="container">
  <div class="row well">

    <div class="col-xs-6 col-lg-4">
      <button class="btn btn-info maincmd" (click)="addMymail()">Add Groups</button>
    </div>

    <div class="col-xs-6 col-lg-4">
      <button class="btn btn-warning maincmd" (click)="getMyMail()">My Groups</button>
    </div>

    <div class="col-xs-12 col-lg-4">
      <a [routerLink]="['/chat']"><button class="btn btn-success maincmd">General Chat</button></a>
    </div>

  </div>





  <div *ngIf="ifClicked">
    <div *ngIf = "myMail==true">

          <div class = "form-group">
            <label for="name">Group Name:  </label>
            <input type="textarea" class="form-control" [(ngModel)]="name" (keyup.enter)="addGroup()"/>
          </div>

                <div class="row">
                  <div class="col-xs-4">
                    <label  for="sendTo">Select Freinds</label>
                  </div>
                  <div class="col-xs-4" ng2-auto-complete [source]= "nameList"  (valueChanged)="getUserID($event)">
                    <input #something  class="form-control " placeholder= "Look for user" [ngModel] = "model1" name = "aaa" autocomplete="off" />
                  </div>
               <div class="col-xs-4" >
                 <button class="btn btn-warning addcmd" (click)="select($event,something )">Select</button>
               </div>               
                </div>

<br>
  <div *ngIf="arruserHTML[0]!=undefined">
           <h4 class="list-group-item-heading"> My Selected Freinds </h4>
  </div>
        {{arruserHTML}}

<br>
<br>

        <figure class="highlight row"> 
          <div class="col-xs-2"><button class="btn btn-primary " (click)="addGroup()">Create Group</button></div>
        </figure>
      
    </div>
  </div>



<div *ngIf="ifClicked1 && mail==true">
        <div  *ngFor = "let group of groups"   >  
          
            <div *ngIf = "group.photoUrl">
              <img [src]="group.photoUrl" class="img-thumbnail" width="150" height="150">
  </div>
  <div *ngIf="group.admin == myName" class="pull-right glyphicon glyphicon-trash" (click)="deleteUsers(group.$key)"></div>
          <div *ngFor = "let u of group.userArr">
           <div *ngIf="myName == u || this.afService.displayName == u">
             
                <div class="well well-sm">              
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                <h4 class="list-group-item-heading">  &nbsp; Group Name:  {{group.name}} </h4>
                        <div class = "t" *ngIf="group.photoURL">
      
                  <img [src]= "group.photoURL" class="img-thumbnail" width="200" height="150">
                
          </div>
                <br>
                 &nbsp; Group Admin:  {{group.admin}} 
               <br> <br>
             <a [routerLink]="['/chat']"> <button class="btn btn-info addcmd" (click)="select2(group)">Chat</button></a>
             <a [routerLink]="['/chat-profiles']">  <button class="btn btn-warning addcmd" (click)="show(group)">Freinds</button></a>
             <button class="btn btn-success addcmd" (click)="leave(group,group.$key)">Leave This Group</button>
          <div class="form-group">            
            <label class ="control-label custom-file-upload">Browse Photo
              <input type="file" accept="image/*" (change) ="upload($event,group.$key)" size="50"/>
            </label>
          </div>  
         </div>           
       </div> 
                     
      </div>
      </div>
</div>
</div>
</div>
</div>