
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a [routerLink]="['/host-form']"><button class="btn btn-success addcmd">Add Hosting</button></a>
      </div>
  </div>


<div class="list-group" *ngFor="let user of users | async">
    <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
     <div class="list-group" *ngFor="let host of hosting | async">
       <a  class="list-group-item" (click)="showConfirm(host.$key)">
         <h4 class="list-group-item-heading">{{host.location}}</h4>
          
          <p class="list-group-item-text">
          Hosting By: {{host.firstName}} &nbsp;&nbsp; {{host.lastName}} <br>The invited: &nbsp;&nbsp; {{host.userArr}}</p>
          <p class="list-group-item-text">
          {{host.time}} &nbsp;&nbsp;&nbsp; {{host.note}}</p>
           <!-- <div *ngFor="let i of host.count"> 
          <p class = "pull-right glyphicon glyphicon-user" aria-hidden="true" (click)="showPeople(host.$key)"></p>
            </div>-->
          <p class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(host.$key)"></p>
          <br>
          </a>
     </div>
  </div>
  <div *ngIf = "user.status == 0 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
    <div class="list-group" (click)="showConfirm($event)" *ngFor="let host of hosting | async">
      <div class="col-sm-4" *ngIf="confirmResult != null">
        <b [ngClass]="{'text-danger': !confirmResult, 'text-success': confirmResult}">{{confirmResult ? 'Accepted': 'Declined'}}</b>
      </div>
       <a  class="list-group-item">
         <h4 class="list-group-item-heading">{{host.location}}</h4>
          <p class="list-group-item-text">
          {{host.time}} &nbsp;&nbsp;&nbsp; {{host.note}}</p>
          
          <p class = "pull-right glyphicon glyphicon-trash" *ngIf = "(afService.displayName == host.author || afService.email == host.author)" (click)="deleteItem(host.$key)"></p>
          <br>
          </a>
     </div>
</div>

</div>

