
<div class="container">
  <div class="row well">
    <div class="col-md-6">
      <button class="btn btn-warning maincmd">Do<br>Request</button>
      </div>
      <div class="col-md-6">
      <button class="btn btn-warning maincmd">Items<br>Delivery</button>
     

      
        <!--
        <div class="col-xs-10"><input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"/></div>
        <div class="col-xs-2"><button class="btn btn-primary" (click)="sendMessage()">SEND</button></div>-->
     
     
      
    </div>
  </div>
</div>
