<div class = "container"> 
  <div [hidden]="submitted">
        <div class= "row">
          <form>
            <div class= "form-group well">
              <div class = "form-group">
                <label for="sendTo">Send To:</label>
                <div ng2-auto-complete [source]= "nameList"  (valueChanged)="getUserID($event)">
                  <input [ngModel] = "model1" name = "aaa" autocomplete="off" placeholder= "Look for user"/>
                </div>
        
                <label for = "message">Message</label>
                <input type="text" [(ngModel)] = "message" name = "message" autocomplete="off" placeholder="Type.." #check="ngModel" required/>
                <small [hidden]="check.valid" class="text-danger">
                      please type Message!!
                </small>
                <div class = "btn btn-success addcmd" (click) = "sendMessage()">Send Message</div>
              </div>
          </div>
        </form>
        <label for="sendTo">Filter by sender:</label>
        <div ng2-auto-complete [source]= "recievedFrom" placeholder= "Look for user" (valueChanged)="filterMessages($event)">
              <input [ngModel] = "model1" name = "aaa" autocomplete="off"/>
        </div>
        <br><br>
        <div class = "list-group" *ngFor = "let message of myMessages | async" (click) = "readMessage(message.$key)">
                  <a class="list-group-item clearfix">
                    <h4 class="list-group-item-heading">{{message.message}}</h4>
                    <h4 class="list-group-item-text">Sent By:  {{message.sentbyName}}</h4>
                    <div *ngIf = "message.read == false" class = "pull-right glyphicon glyphicon-bell text-warning"></div>
                    <p class="list-group-item-text">
                        &nbsp;&nbsp;&nbsp; {{ message.timestamp | date:"dd/MM/yy HH:mm"}}                      
                    </p>
                    <div class = "pull-right glyphicon glyphicon-share-alt" (click)="replay(message.sentbyID)" title = "Replay"></div>
                   <div class = "pull-right glyphicon glyphicon-trash" (click)="deleteMessage(message.$key)" title = "Delete"></div>
                  </a>
        </div>
  </div>
</div>