
<div class = "container">
      <div *ngIf = "(waitingUsers | async)?.length==0"><h1>No user to confirm</h1></div>
      <div class = "list-group"*ngFor = "let user of waitingUsers | async">
         <a class="list-group-item clearfix">
           <h4 class="list-group-item-heading">Name: {{user.name}}</h4>
           <h4 class="list-group-item-text">Email:  {{user.email}}</h4>
           <div class = "btn btn-success addcmd pull-right" (click) = "confirmUser(user.$key)"title = "Confirm">Confirm User</div>
         </a>
        </div>
</div>
