<div *ngIf = "afService.choosen_lan == 'HE' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div *ngIf = "afService.choosen_lan == 'EN' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a [routerLink]="['/night-form']"><button class="btn btn-success addcmd">{{AddMeet}}</button></a>
      </div>
  </div>


     <div class="list-group" *ngFor="let event of events | async">
       <a  class="list-group-item" >
         <h4 class="list-group-item-heading">{{event.authorName}}</h4>
          
          <p class="list-group-item-text">
          {{Date}}: {{event.time | date:"dd/MM/yy HH:mm" }} &nbsp;&nbsp;&nbsp;<br>
          {{Location}}: {{event.location}}<br>
          {{NumOfGirls}}: {{event.numberOfJoin}}<br>
          {{Notes}}: {{event.note}}<br>
          </p>
          <div class = "t" *ngIf="event.photoURL">
      
                  <img [src]= "event.photoURL" class="img-thumbnail" width="200" height="150">
                
          </div>

          <div class="row">

            <div *ngIf = "checkIfIn(event.$key) == true" class="col-xs-5"> 
              <button class="btn btn-danger addcmd" (click)="leave(event.$key)">{{Leave}}</button>
            </div>
            <div *ngIf = "checkIfIn(event.$key) == false" class="col-xs-5"> 
              <button class="btn btn-success addcmd" (click)="showConfirm(event.$key)">{{Join}}</button>
            </div>
            <div  class="col-xs-6">
              <a [routerLink]="['/night-profiles']"> <button class="btn btn-info addcmd" (click)="show(event.$key)">{{WhoComes}}</button></a>
            </div>
        <div class="list-group" *ngFor="let user of users | async">    
          <div *ngIf = "user.status == 0 && event.author == user.name && afService.displayName == user.name">
            <div class="col-xs-1">
              <p class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(event.$key)"></p>
          </div>
            
          <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())">
            <div class="col-xs-1">
              <p class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(event.$key)"></p>
            </div>
          </div>
        </div>
       </div>
     </div>
    
        </a>
     </div>

