
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a [routerLink]="['/night-form']"><button class="btn btn-success addcmd">Add Event</button></a>
    </div>
  </div>

<div class = "list-group"
        *ngFor = "let user of users | async">
  <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())">
    
  <div class="list-group" *ngFor="let event of events | async">

    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">{{event.location}}</h4>
      <span class="list-group-item-text">
      {{event.time}} &nbsp;&nbsp;&nbsp; {{event.note}} 
      
      </span><div class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(event.$key)" title = "Delete"></div>
    </a>

  </div>

</div>
</div>
