
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a [routerLink]="['/night-form']"><button class="btn btn-success addcmd">Add Event</button></a>
    </div>
  </div>

<div class="list-group" *ngFor="let user of users | async">
    <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
     <div class="list-group" *ngFor="let event of events | async">
       <a  class="list-group-item" >
         <h4 class="list-group-item-heading"> {{event.type}}</h4>
          <p class="list-group-item-text">
          Date: {{event.time | date:"dd/MM/yy HH:mm"}}  &nbsp;&nbsp;&nbsp;<br>
          Location: {{event.location}}<br>
          Notes: {{event.note}}<br>
          </p>
    <div class="row">
            <div *ngIf = "checkIfIn(event.$key) == true" class="col-xs-5"> 
              <button class="btn btn-danger addcmd" (click)="leave(event.$key)">Leave</button>
            </div>
            <div *ngIf = "checkIfIn(event.$key) == false" class="col-xs-5"> 
              <button class="btn btn-success addcmd" (click)="Join(event.$key)">Join</button>
            </div>
            <div  class="col-xs-6">
              <a [routerLink]="['']"> <button class="btn btn-info addcmd" (click)="show(event.$key)">See Who Is In</button></a>
            </div>
            
            <div class="col-xs-1">
              <p class = "pull-right glyphicon glyphicon-trash" (click)="delete(event.$key)"></p>
            </div>
   </div>
   </a>
      </div>
    </div>
    <div *ngIf = "user.status == 0 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
     <div class="list-group" *ngFor="let event of events | async">
       <a  class="list-group-item" >
         <h4 class="list-group-item-heading"> {{event.type}}</h4>
          <p class="list-group-item-text">
          Date: {{event.time | date:"dd/MM/yy HH:mm"}}  &nbsp;&nbsp;&nbsp;<br>
          Location: {{event.location}}<br>
          Notes:  {{event.note}}<br>
          </p>
    <div class="row">
            <div *ngIf = "checkIfIn(event.$key) == true" class="col-xs-5"> 
              <button class="btn btn-danger addcmd" (click)="leave(event.$key)">Leave</button>
            </div>
            <div *ngIf = "checkIfIn(event.$key) == false" class="col-xs-5"> 
              <button class="btn btn-success addcmd" (click)="Join(event.$key)">Join</button>
            </div>
            <div  class="col-xs-6">
              <a [routerLink]="['']"> <button class="btn btn-info addcmd" (click)="show(event.$key)">See Who Is In</button></a>
            </div>
            
   </div>
   </a>
      </div>
    </div>

</div>
</div>
