<div class = "container">
  <div [hidden]="submitted">
      <h1 style="text-align: center">Update Profile</h1>

      <div class="row">

           <div class="col-xs-12 well"> 
            <form class="form-horizontal" >
                <div class = "row form-group">
                    <label for = "name" class ="col-xs-2 control-label">Full Name</label>
                    <div class="col-xs-10">
                        <input type = "text" class="col-xs-9 form-control" [(ngModel)] = "userinfo.name" name = "name" disabled>
                    </div>
                </div>

                <div class = "row form-group">
                    <label for = "name" class ="col-xs-2 control-label">Mail</label>
                    <div class="col-xs-10">
                        <input type = "text" class="col-xs-10 form-control" [(ngModel)] = "email" name = "mail" disabled>
                    </div>
                </div>

                <div class = "row form-group">
                    <label for = "City" class ="col-xs-2 control-label">Current City</label>
                    <div class="col-xs-10">
                        <input type = "text" class="col-xs-10 form-control" placeholder ="e.g. Jerusalem" [(ngModel)] = "userinfo.city" name ="city">
                    </div>
                </div>

                <div class = "row form-group">
                    <label for = "DOB" class ="col-xs-2 control-label">Date Of Birth</label>
                    <div class="col-xs-10">
                        <input type="date" class="col-xs-10 form-control" [(ngModel)] = "userinfo.dob" name="dob" >
                    </div>
                </div>



                <div class = "form-group" *ngIf = "photo">
                    <label for = "photo" class ="control-label">Photo</label>
                    <div>
                        <img [src]="photo" class="img-thumbnail"><br>
                        <label class="custom-file-upload">
                            <input type="file" class="file-button" accept="image/*" (change) ="upload($event)" size="50"/>Change Profile Image
                        </label>
                    </div>
                </div>

                <div class="text-left">
                    <input type="button" class="btn btn-primary" value="Update profile" (click)="updateProfile()" [routerLink]="['']" />
                </div>
                
               
            </form>
           </div>
      </div>
  </div>
</div>