
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} dd  {{ message.timestamp | date:"MM/dd/yy HH:mm" }}
            </div>
          </div>
        </div>

      </div>

      <figure class="highlight row">
        <div class="col-xs-10"><input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"/></div>
        <div class="col-xs-2"><button class="btn btn-primary" (click)="sendMessage()">SEND</button></div>
      </figure>
      
    </div>
  </div>
</div>
