

<div class="container all">

  <!--Header-->
  <div class="row top">
    <div class="col-xs-8 chgroup">
      Group:  {{nameof}}
    </div>

    <div class="col-xs-4">
      <a class="chback" [routerLink]="['/chat-rooms']"><button class="btn btn-success chback">Chat Menu</button></a>
    </div>
  </div>
      

  <!--Chat window-->
  <div class="row col-md-8 col-md-offset-2">

    <div #scrollMe class="bs-example" id="messages">
      <div *ngFor="let message of messages | async">
         <div *ngIf = "nameof==message.nameOfGroup">
           <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
              <p>{{ message.message }}</p>
              <div class="author">
              {{ message.displayName }} {{ message.timestamp | date:"dd/MM/yy HH:mm" }} 
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row buttom">
        <div class="col-xs-9"><input type="textarea" class="message-text btnobj" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"/></div>
        <div class="col-xs-2"><button class="btn btn-primary btnobj" (click)="sendMessage()">SEND</button></div>
    </div>
      
  </div>
</div>

