
<div *ngIf = "afService.choosen_lan == 'HE' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div *ngIf = "afService.choosen_lan == 'EN' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div class = "container">
  <div [hidden]="submitted">
      <h1 style="text-align: center">{{NewItem}}</h1>

      <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
      <form (ngSubmit) ="addItem()">

          <div class = "form-group">
              <label for = "itemType">{{Typeofitem}}</label>
             <select class = "form-control" id ="itemType" #type = "ngModel" name = "type" [(ngModel)]= 'item.type' required>
                <option></option>
                <option>Electrics</option>
                <option>Furniture</option>
                <option>Home Staff</option>
                <option>Clothes</option>
                <option>Other..</option>
              </select>
              <small [hidden]="type.valid" class="text-danger"> Required </small>
          </div>

          <div class = "form-group">
              <label for = "itemCond">{{ItemCondition}}</label>
              <select class = "form-control" id ="itemCond" [(ngModel)]= 'item.cond' name="cond" #cond="ngModel" required>
                <option></option>
                <option>{{New}}</option>
                <option>{{AlmostNew}}</option>
                <option>{{FineUsed}}</option>
                <option>{{Badly}}</option>
              </select>
              <small [hidden]="cond.valid" class="text-danger"> Required </small>
          </div>

          <div class = "from-group">
            <label for = "description">{{ItemDescription}}</label>
            <input type = "text" class = "form-control" id = "description" name = "description" #description="ngModel" [(ngModel)]= 'item.description' required />
            <small [hidden]="description.valid" class="text-danger"> Required </small>
          </div>

          <br>
          <div class="form-group">
            <label for="location">{{ItemLocation}}</label>
            <input type="text" class="form-control" id="location" name = "location" [(ngModel)]= 'item.location' />
          </div>
          <br>

          <fieldset class="form-group">
              <legend>{{ContactInformation}}:</legend>
              <div class="form-group row">
                <div class="col-xs-2"> <label for="phone">{{Phone }}:</label> </div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="phone" name = "phone" #phone="ngModel" [(ngModel)]= 'item.phone' required />
                  <small [hidden]="phone.valid" class="text-danger"> Required </small>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-2"> <label for="email">{{Email}}: </label> </div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="email" name = "email" [(ngModel)]= 'item.email'/>
                </div>
              </div>

              <div class = "form-group row">
                <div class="col-xs-6"> <label for = "itemDelivery">Can you help with delivery?</label></div>
                <div class="col-xs-6">
                  <select class = "form-control" id ="itemDelivery" name = "itemDelivery" #itemDelivery="ngModel" [(ngModel)]= 'item.delivery' required>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  <small [hidden]="itemDelivery.valid" class="text-danger"> Required </small>
                </div>
              </div>
          </fieldset>
          
          <div class="row">

            <div class="form-group col-xs-4">            
              <label class ="control-label custom-file-upload">{{BrowsePhoto}}
                <input type="file" accept="image/*" (change) ="upload($event)" size="50"/>
              </label>
            </div>     

            <div class="col-xs-4"><input type="submit" class="btn btn-primary btn" value="{{Add}}" /></div>
            <div class="col-xs-4"><button type="reset" class="btn btn-danger btn">{{ResetForm}}</button></div>

          </div>

      </form>
      </div>
      </div>

  </div>
</div>