input[type="file"] {
    display: none;    
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
    background-color: blue;
    position: absolute;
    opacity: 0.7;
}