input[type="file"] {
    display: none;    
}

.custom-file-upload {
    text-align: center;
    width: 100%;
    padding: 7px 0px;
    cursor: pointer;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
}

.btn
{
    width: 100%;
}