<div class = "container">
  <div [hidden]="submitted">
      <h1 style="text-align: center">Item Delivery Form</h1>
      <form>
          <div class = "form-group">
              <label for = "itemType">Type of item</label>
             <select class = "form-control" id ="itemType" name = "type" [(ngModel)]= 'item.type'>
                <option></option>
                <option>Electrics</option>
                <option>Furniture</option>
                <option>Home Staff</option>
                <option>Clothes</option>
                <option>Other..</option>
              </select>
          </div>
          <div class = "form-group">
              <label for = "itemCond">Item Condition</label>
              <select class = "form-control" id ="itemCond">
                <option></option>
                <option>New</option>
                <option>Almost New</option>
                <option>Fine Used</option>
                <option>Badly</option>
              </select>
          </div>
          <div class = "from-group">
            <label for = "itemDesc">Item Description</label>
            <input type = "text" class = "form-control" id = "itemDesc" placeholder="Item Description" name = "description" [(ngModel)]= 'item.description'/>
          </div>
          <br>
          <div class="form-group">
            <label for="location">Item Location</label>
            <input type="text" class="form-control" id="location" name = "location" [(ngModel)]= 'item.location'/>
          </div>
          <br>

          <fieldset class="form-group">
              <legend>Pick-up Options:</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="own-pick" value="option1" checked>
                    The picker will take care to the transport
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="ideliver" value="option2">
                  I will deliver the item to the Bat-Sherut
              </label>
              </div>
          </fieldset>
          <br>
          <div class="form-group">
            <label for="photoUpload">Upload Photo</label>
            <input type="file" class="form-control-file" id="photoUpload" aria-describedby="fileHelp">
            <small class="form-text text-muted">Notes for photo uploading</small>
          </div>
          <br>
          <input type="button" class="btn btn-primary"  [routerLink]="['/items']" value="Add Item" (click)="addItem()" />
          <button type="reset" class="btn btn-danger">Reset Form</button>
      </form>
  </div>
</div>