<div class="container">
  <div [hidden]="submitted">
    <h1>Host in Shabat!</h1>
      <div class="row">j
        <div class="col-md-8 col-md-offset-2 well ">
          <form class="form-horizontal">

            <div class="form-group">
              <label class="col-xs-2 control-label">Location: </label>
              <div class="col-xs-10">
                <input type="text" class="form-control" name="location" required [(ngModel)]="host.location"/>
                <span class="help-block">For Example: Jabotinsky pub, shimon ben shetach, Jerusalem</span>
              </div>
            </div>

           <div class="form-group">
              <label class="col-xs-3 control-label">First Name: </label>
                <div class="col-xs-3">
                        <input type = "text" class="col-xs-10 form-control" 
                            placeholder ="e.g. Adam" name ="firstName" [(ngModel)] = "host.firstName" 
                            #firstName = "ngModel" required>
                              <small [hidden]="firstName.valid" class="text-danger">
                                    Name is required!!
                              </small>
                    </div>
            
              <label class="col-xs-3 control-label">Last Name: </label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="lastName"  [(ngModel)]="host.lastName"/>
              </div>
            </div>

           <div class="form-group">
              <label class="col-xs-3 control-label">Phone number#1 </label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="phoneOne" required [(ngModel)]="host.phoneOne"/>
              </div>
            
              <label class="col-xs-3 control-label">Phone number#2: </label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="phoneTwo" [(ngModel)]="host.phoneTwo"/>
              </div>
            </div>





          <div class="form-group">
              <label class="col-xs-3 control-label">Host people</label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="host.numberHost"/>
              </div>
           
              <label class="col-xs-3 control-label">Spooken Lang: </label>
                <div class="col-xs-3">
                  <select class="form-control" > <!-- [(ngModel)]="selectedValue"> -->
                     <option *ngFor="let c of countries"  name="lastName" [ngValue]="c">{{c.name}}</option>
                  </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">When?: </label>
                <div class="col-xs-10">
                  <input type="datetime-local" class="form-control" name="time" [(ngModel)]="host.time"/>
              </div>
            </div>



            <div class="form-group">
              <label class="col-xs-2 control-label">Notes: </label>
                <div class="col-xs-10">
                  <input type="text" class="form-control" name="note" [(ngModel)]="host.note"/>
              </div>
            </div>

            <div class="text-left">
              <a [routerLink]="['/host']"><input type="button" class="btn btn-primary" value="Add Host" (click)="addHosting()" /></a>
              
            </div>

          </form>
        </div>
      </div>

  </div>

</div>
