
<div *ngIf = "afService.choosen_lan == 'HE' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div *ngIf = "afService.choosen_lan == 'EN' && selectLang(afService.choosen_lan)" class="col-xs-5">
</div>

<div class="container">
  <div [hidden]="submitted">
    <h1>{{shbbat}}</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 well ">
          <form class="form-horizontal" (ngSubmit) ="addHosting()">

            <div class="form-group">
              <label class="col-xs-2 control-label">{{Location}} : </label>
              <div class="col-xs-10">
                <input type="text" class="form-control" name="location" #location = "ngModel" required [(ngModel)]="host.location"/>
                <small [hidden]="location.valid" class="text-danger">  Location is required!! </small>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{FirstName}}: </label>
              <div class="col-xs-10">
                  <input type = "text" class="col-xs-10 form-control" placeholder ="e.g. Adam" name ="firstName" [(ngModel)] = "host.firstName" #firstName = "ngModel" required>
                  <small [hidden]="firstName.valid" class="text-danger">  Name is required!! </small>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{LastName}}: </label>
                <div class="col-xs-10">
                  <input type="text" class="form-control" name="lastName"  [(ngModel)]="host.lastName"/>
              </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">{{Phone}} #1: </label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" name="phoneOne" #phoneOne = "ngModel" required [(ngModel)]="host.phoneOne"/>
                    <small [hidden]="phoneOne.valid" class="text-danger">  Required!! </small>
                </div>
            </div>

            <div class="form-group"> 
                <label class="col-xs-2 control-label">{{Phone}} #2: </label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" name="phoneTwo" [(ngModel)]="host.phoneTwo"/>
                </div>
              </div>


            <div class="form-group">
                <label class="col-xs-2 control-label">{{PeopleAmount}}:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="host.numberHost"/>
                </div>
            
                <label for="hostlang" class="col-xs-2 control-label">{{Spooken}} </label>
                <div class="col-xs-5">
                  <select class="form-control" id ="hostlang" name = "lang" [(ngModel)]="host.lang">
                    <option></option>
                    <option>Hebrew</option>
                    <option>English</option>
                    <option>French</option>
                    <option>Italy</option>
                    <option>London UK</option>
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">{{Date}} </label>
                <div class="col-xs-10">
                  <input type="datetime-local" class="form-control" name="time" #time = "ngModel" [(ngModel)]="host.time" required/>
                  <small [hidden]="time.valid" class="text-danger"> Date is Required!! </small>
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2 control-label">{{Notes}}: </label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="note" [(ngModel)]="host.note"/>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                <label class ="custom-file-upload"> <input type="file" class="file-button" accept="image/*" (change) ="upload($event)" size="50"/> </label>
              </div>

              <div class="text-left col-xs-4">
                  <input type="submit" class="btn btn-primary" value="Add Host"  />
              </div>

            </div>

          </form>
        </div>
      </div>

  </div>

</div>
