 <!--
    xs: 0-768
    sm: 768-992
    md: 992-1200
    lg: 1200 up
    panel-default
    panel-danger
    panel-info
    panel-primary
    panel-success
    panel-warning
  -->

  <!-- main -->

<div class="container">

  <!-- nav bar -->
  <div class = "well">
    <div class="row">
      <div class="col-xs-6 col-lg-3">
        <a [routerLink]="['/host']"><button class="btn btn-success  maincmd hsbtn">Hosting<br>Shabat</button></a>
      </div>
      <div class="col-xs-6 col-lg-3">
        <a [routerLink]="['/items']"><button class="btn btn-warning maincmd">Items<br>Delivery</button></a>
      </div>
      <div class="col-xs-6 col-lg-3">
        <a [routerLink]="['/night']"><button class="btn btn-danger maincmd">Night<br>Life</button></a>
      </div>
      <div class="col-xs-6 col-lg-3">
        <a [routerLink]="['chat-rooms']"><button class="btn btn-primary maincmd">Chat</button></a>
      </div>
      <div class="col-xs-12">
        <a [routerLink]="['/profiles']"><button class="btn btn-primary secondcmd">Users Profiles</button></a>
      </div>      
    </div>
  </div>

  <!-- messages news -->
  <div class="row well"> 
    <div class="col-xs-12 col-md-12 col-md-offset-0">

      <div *ngFor="let user of users | async">

        <div *ngIf = "user.status == 1 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
          <div *ngFor="let news of news | async">
            {{news.message}} 
            <span class = "pull-right glyphicon glyphicon-trash" (click)="deleteItem(news.$key)"></span>
            <span class="pull-right" >{{ news.timestamp | date:"dd/MM/yy HH:mm" }} </span>
            
            <hr>
          </div>
          <div class="col-xs-12 btndiv">
            <button class="btn" (click)=AddMessage()>Add message</button>
          </div>
        </div>

        <div *ngIf = "user.status == 0 && (afService.displayName ==user.email.toLowerCase() || afService.email ==user.email.toLowerCase())"> 
          <div *ngFor="let news of news | async">
            {{news.message}} 
            <span class="pull-right" >{{ news.timestamp | date:"dd/MM/yy HH:mm" }} </span>
            <hr>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="links">
      
      <a href="https://www.facebook.com/AmutatBishvil/?fref=ts" target="_blank"><img src="https://github.com/Nir-Cohen/Bishvil/blob/master/icons/facebook.png?raw=true"></a>
      <a href="https://www.instagram.com/bishvil/" target="_blank"><img src="https://github.com/Nir-Cohen/Bishvil/blob/master/icons/Instagram.png?raw=true"></a>
      <a href="http://bishvil.org/he/" target="_blank"><img src="https://github.com/Nir-Cohen/Bishvil/blob/master/icons/web.png?raw=true"></a>
      <a href="#" target="_blank"><img src="https://github.com/Nir-Cohen/Bishvil/blob/master/icons/mail.png?raw=true"></a>
      
  </div>

