
.maincmd
{
  width: 100%;
  height: 100px;
  margin: 10px 0px;

  background: #ededed;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-color: rebeccapurple;
}

.secondcmd
{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  background: #ededed;
  border-color: rebeccapurple;

  background-image: url(https://github.com/Nir-Cohen/Bishvil/blob/master/mainbtn/profile.png?raw=true);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

hr{
  margin: 5px;
}

.btndiv{
  text-align: center;
}

img{
  width: 50px;
  height: 50px;
  margin: 0px 5px;
}

.links{
  text-align: center;
}

.hsbtn{ background-image: url(https://github.com/Nir-Cohen/Bishvil/blob/master/mainbtn/hostsha.png?raw=true); }
.itbtn{ background-image: url(https://github.com/Nir-Cohen/Bishvil/blob/master/mainbtn/itemdel.png?raw=true); }
.nlbtn{ background-image: url(https://github.com/Nir-Cohen/Bishvil/blob/master/mainbtn/nl.png?raw=true); }
.chbtn{ background-image: url(https://github.com/Nir-Cohen/Bishvil/blob/master/mainbtn/chat.png?raw=true); }